<h1>ログイン</h1>
<form id="login-form">
    <input type="text" name="username"><br>
    <input type="password" name="password"><br>
    <input type="submit" id="login-btn"><br>
</form>

<h1>要ログインアクセス</h1>
<form id="read-user-form">
    <input type="text" name="user_id"><br>
    <input type="submit" id="read-user-btn"><br>
</form>

<script>
    let Authorization = null;
    const loginForm = document.querySelector("#login-form");
    const readUserFrom = document.querySelector("#read-user-form");

    loginForm.addEventListener("submit", (e) => {
        e.stopPropagation();
        e.preventDefault();

        const formData = new FormData(loginForm);
        const url = "/token";
        const options = {
            method: 'POST',
            body: formData,
        };

        fetch(url, options)
            .then((response) => {
                return response.json();
            })
            .then((json) => {
                if (json["token_type"] !== void 0 && json["access_token"] !== void 0) {
                    Authorization = json["token_type"] + " " + json["access_token"];
                    alert("ログインしました");
                } else {
                    alert("ログインできませんでした");
                }
            });
    });

    readUserFrom.addEventListener("submit", (e) => {
        e.stopPropagation();
        e.preventDefault();

        if (Authorization !== null) {
            const userId = readUserFrom.user_id.value;
            const url = "/users/" + userId;
            const options = {
                method: 'GET',
                headers: {
                    "Authorization": Authorization,
                }
            };
            
            fetch (url, options)
                .then((response) => {
                    return response.json();
                })
                .then((json) => {
                    console.log(json)
                });
        } else {
            alert("ログインしてください");
        }
    });
</script>